.center[data-v-0d462f4b]{color:red;padding:20px 0;font-size:20px;font-weight:bolder;text-align:center}.padding-0[data-v-0d462f4b]{padding:0}.small[data-v-0d462f4b]{font-size:12px}.lighter[data-v-0d462f4b]{font-weight:lighter}
