.center[data-v-750fdd09]{color:red;padding:20px 0;font-size:20px;font-weight:bolder;text-align:center}.padding-0[data-v-750fdd09]{padding:0}.small[data-v-750fdd09]{font-size:12px}.lighter[data-v-750fdd09]{font-weight:lighter}
